<div class="col-6">
    <div class="row">
        <h2 id="last-result" class="mb-2 col-12"></h2>
        <h5 id="generations" class="col-4 d-none"><%= t('views.generations') %>: <span class="param-value"></span></h5>
        <h5 id="fitness" class="col-4 d-none"><%= t('views.fitness') %>: <span class="param-value"></span></h5>
        <h5 id="time_spent" class="col-4 d-none"><%= t('views.time') %>: <span class="param-value"></span></h5>
    </div>

    <div class="row">
        <div class="col bg-light">
            <pre id="results-history" class="d-none"></pre>
        </div>
    </div>
</div>