<div class="col-6">
    <div class="row">
        <h2 id="last-result" class="mb-2 col-12"></h2>
        <h5 id="generations" class="col-6"></h5>
        <h5 id="fitness" class="col-6"></h5>
    </div>

    <div class="row">
        <div class="col bg-light">
            <pre id="results-history"></pre>
        </div>
    </div>
</div>