<div class="col-6">
    <div class="row">
        <h2 class="last-result mb-2 col-12"></h2>
        <h5 class="generations col-6"></h5>
        <h5 class="fitness col-6"></h5>
    </div>

    <div class="row">
        <div class="col bg-light results-history">
        </div>
    </div>
</div>